.EditProfile-container{
    display: flex;
    height: 100%;
    background: #A9A9A9;
    justify-content: center;


    button{
        margin: 5px;
        padding: 12px 20px;
        margin-bottom: 20px;
        background: red;
        color: white;
        font-family: 'F1';
        border: none;
        border-radius: 4px;
        width: 200px;
        // align-self: center;
    }

    .Change-email-button{
        margin: 5px;
        padding: 12px 20px;
        margin-bottom: 20px;
        background: black;
        color: white;
        font-family: 'F1';
        border: none;
        border-radius: 4px;
        width: 200px;
    }
    input{
        // padding: 7px;
        // margin: 5px;
        border-radius: 5px;
        border: none;
        font-family: 'F1';
    }
    
}


.false {
    display: none
}


.showing {
    display: flex;
    width: 800px;
    height: 550px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background: #CAEBF2;
    position: absolute; 
    top: 15rem; 
    
    
    .Delete-button{
        margin: 5px;
        padding: 12px 20px;
        margin-bottom: 20px;
        background: red;
        color: white;
        font-family: 'F1';
        border: none;
        border-radius: 4px;
        width: 200px;
    }
}