@font-face{
  font-family: 'F1';
  src: local('F1'), url(./Formula1-Regular.otf);
}


.App{
  height: 100%;
  width: 100%;
  background: #A9A9A9;
  z-index: -10;
}

@media screen and (max-width: 1126px) {
  .App{
    height: 100%;
  }
}