.Listings-main-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .Listing-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 500px;

    p {
      margin: 5px;
    }

    button {
      margin: 5px;
    //   padding: 12px 20px;
      margin-bottom: 20px;
      background: black;
      color: white;
      font-family: "F1";
      border: none;
      border-radius: 4px;
    }
  }

  .mapped-listing-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-height: 425px;
    max-width: 600px;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
  }
}

.Mapped-listing-pic {
  max-height: 400px;
  max-width: 400px;
  height: auto;
  width: auto;
  border-radius: 4px;
  border: 2px white solid;
}

@media screen and (max-width: 1126px) {
  .listings-main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .listing-display {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }

  .wtf {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
  }
}
