.Listings-main-container{
    display: flex;
    // width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
.Listing-display{
    display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;

}

}

.Mapped-listing-pic{
    height: 200px;
    width:  300px;
}